* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f7f4ff;
    color: #222;
}

header {
    background: white;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #e6ddff;
}

header h1 {
    color: #6f2cff;
    margin-bottom: 10px;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.map-section {
    flex: 3;
    position: relative;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.floorplan {
    width: 100%;
    display: block;
}

.info-panel {
    flex: 1;
    background: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.info-panel h2 {
    color: #6f2cff;
    margin-bottom: 15px;
}

.info-panel p {
    margin-bottom: 10px;
    font-size: 16px;
}

.zone {
    position: absolute;
    background: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.2s;
}

.zone:hover {
    border: 2px solid #6f2cff;
    background: rgba(111, 44, 255, 0.08);
}

/* Positions */

.bay08 {
    top: 2%;
    left: 12%;
    width: 58%;
    height: 18%;
}

.bay05 {
    top: 22%;
    left: 12%;
    width: 31%;
    height: 18%;
}
.bay09 {
    top: 22%;
    left: 45%;
    width: 21%;
    height: 18%;
}
.conference {
    top: 2%;
    right: 3%;
    width: 12%;
    height: 25%;
}
.bay01{
    top: 48%;
    left: 14%;
    width: 23%;
    height: 15%;
}

.bay06{
    top: 48%;
    left: 55%;
    width: 23%;
    height: 15%;
}

.bay07{
    top: 67%;
    left: 14%;
    width: 22%;
    height: 13%;
}

.bay02{
    top: 67%;
    left: 55%;
    width: 23%;
    height: 13%;
}
#bookBtn{
    margin-top:20px;
    padding:12px 24px;
    background:#6c3cff;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
}
